body {
        font-family: 'Open Sans', sans-serif;
        background-color: #c5c5c5;
        color: #000000; /* black */
        margin: 0;
        padding: 0;
      }
      .card {
        background-color: #ffffff; /* white */
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        margin: 50px auto;
        max-width: 250px;
        height: 350px;
        padding: 20px;
        text-align: left;
        border-top: 10px solid #8132a3; /* pink */
      }
      .card img {
        border-radius: 50%;
        max-width: 150px;
        display: block;
        margin: 0 auto 20px;
      }
      .card h1 {
        color: #8132a3;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
      }
      .card label {
        color: #8132a3;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-bottom: 5px;
      }
      .card p {
        font-size: 14px;
        margin: 0;
        display: inline-block;
        margin-left: 10px;
      }
      .card a {
        color: #0077cc;
        text-decoration: none;
      }